@model List<MVC_Project.Models.VM.ProductCart>
@{
    ViewBag.Title = "Index";
    decimal totalPrice = 0;
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            totalPrice += item.ItemTotalPrice;
            <tbody>

                <tr>
                    <td><img src="@item.ImgUrl" height="190px" width="165px" /></td>
                    <td>@item.Product_Name</td>
                    <td>@item.price</td>
                    <td>
                        @item.Quantity
                    </td>

                    <td>@item.ItemTotalPrice</td>
                </tr>
            </tbody>
        }
    </table>
    
</div>

